*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style Google Fonts */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

/* main style */
/* duita chobi ba duita background img dite hole ektar pashe arekta just coma diye deo */

/* header style */

header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
    background-repeat: no-repeat;
}

/* navigation style */

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* button style */

.bnt-group{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-c{
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* margin: 0 0 0 30px; */
}

/* banner section style */

#banner {
    /* border: 1px solid black; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
    
}

/* about section style */

#about {
    padding-top: 130px;

}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
     /*font-weight: bold;*/
    margin-bottom: 30px;
    color: #181818;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
   font-size: 20px;
}

/* skills section style */

#skills {
    padding-top: 130px; 
}

#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;    
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume section style */

#resume {
    padding-top: 130px;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-container hr{
    margin: 30px 0;
}

.text-center {
    text-align: center;
    margin-top: 50px;
}

/* footer section style */

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;

}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;

}

.footer-container h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container form input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color-scheme: #757575;
}

.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

.hide{
    display: none !important;
}

@media screen and (max-width:576px) {
    #skills .skills-container , #about .about-container , footer .footer-container{
        width: 95%;
    }
    #about .about-container {
        padding: 20px;
    }
    #about .about-container .about-info{
        flex-direction: column;
        gap: 15px;
    }
    
    .section-heading h2 {
        font-size: 30px;
    }
    #skills .skills-container .skill-box {
        flex-direction: column;
    }
    .skill-box .skill-card{
        max-width: 100%;
    }

    #about,
    #skills,
    #resume {
        padding: 60px;
    }
    footer .footer-container {
        flex-direction: column;
    }
    .footer-container form input[type="text"] {
        width: 100%;
    }
    
    .footer-container form textarea {
        width: 100%;
    }

    #resume .resume-container {
        width: 95%;
        margin-top: 60px;
        flex-direction: column;
    }
    .resume-card{
        margin-right: 10px;
    }
    nav{
        width: 95%;
        flex-direction: column;
        gap: 20px;
    }
    nav .menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    #banner{
        margin: 20px;
        gap: 20px;
        text-align: center;
        flex-direction: column;
    }
    #banner .banner-image img{
        width: 100%;
    }
    /* #banner .banner-content{

    } */
     #banner .banner-content{
        width: 95%;
     }
    #banner .banner-content h1{
        font-size: 44px;
    }
    .bnt-group{
        justify-content: center;
    }
}